@font-face {
    font-family: 'MisekiBitmap';
    src: url('../assets/fonts/MisekiBitmap.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni0563';
    src: url('../assets/fonts/uni05_63.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChillBitmap7';
    src: url('../assets/fonts/ChillBitmap_7px.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body {
    color: white;
    font-family: 'ChillBitmap7', sans-serif;
    background: #41a371;
    background: linear-gradient(67deg, rgba(65, 163, 113, 1) 0%, rgba(46, 133, 97, 1) 29%, rgba(58, 150, 123, 1) 52%, rgba(102, 212, 215, 1) 81%, rgba(136, 212, 190, 1) 100%);
}

.navbar,
footer {
    background-color: #003262;
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.2);
}

.nav-link,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.6);
}

#hero-cta {
    color: white;
}

#hero-cta:hover,
a .text-logo:hover,
.nav-link:hover,
footer a:hover {
    color: #66D4D7;
}

.text-logo {
    font-family: 'Uni0563', sans-serif;
    color: white;
}